click
colorama
contourpy
cycler
Flask
fonttools
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
nltk
numpy
packaging
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
regex
setuptools
six
tenacity
textblob
threadpoolctl
tqdm
Werkzeug
wheel
